.videoPlayer {
  position: relative;

  video {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .videoPlayer__volume {
    -webkit-appearance: slider-vertical;
    position: relative;
    height: 90px;
  }
  .videoPlayer__controls {
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 9;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 30px 1fr 190px;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);

    .videoPlayer__column:first-child {
      display: flex;
      width: 30px;
      span:first-child {
        margin-right: 10px;
      }
    }

    .videoPlayer__column:last-child {
      justify-self: end;
      display: flex;
      align-items: center;
      span {
        margin-left: 15px;
      }
    }

    .videoPlayer__column:nth-child(2) {
      position: relative;
      display: flex;
      align-items: center;
    }
  }
}

.volume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video__bar {
  display: flex;
  flex-direction: column;
}

.playBar {
  width: 100%;
  position: absolute;
}

.volume:hover {
  .volumeBar {
    opacity: 1;
  }
}

.volumeBar {
  opacity: 0;
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  position: absolute;
  right: 2px;
  bottom: 30px;
  display: block;
  width: 80px;
  background: none;
}
