extends layouts/main.pug
include mixin/videoBlock.pug
block content 
    .home-videos
        each video in dbVideos
            +videoBlock({
                id: video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })
            +videoBlock({
                id: video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })
            +videoBlock({
                id: video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })
            +videoBlock({
                id: video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })
            +videoBlock({
                id: video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })
            +videoBlock({
                id: video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })
            +videoBlock({
                id: video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })
            +videoBlock({
                id: video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })
            +videoBlock({
                id: video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })
            +videoBlock({
                id: video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })
            +videoBlock({
                id: video.id,
                title:video.title,
                views:video.views,
                videoFile:video.fileUrl
            })
