extends layouts/main.pug

block content   
    .record-body
        .record-container#jsRecordContainer
                video#jsVideoPreview
                button#jsRecordBtn Start Recording 
                a(href=`/videos${routes.upload}`)
                    button Go To Upload