.fa-thumbs-up {
  cursor: pointer;
}
.video__comments {
  margin-top: 25px;
  text-align: center;
  .video__comment-number {
    font-size: 18px;
  }
  .add__comment {
    margin-top: 25px;
    width: 100%;
    input {
      width: 100%;
    }
  }
  .wrap {
    text-align: center;
    .video__comments-list {
      margin-top: 20px;
      display: inline-block;
      li {
        position: relative;
        background-color: white;
        max-width: 500px;
        min-width: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 30px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
        margin-bottom: 20px;
        border-radius: 10px;
        .commentId {
          display: none;
        }
        img {
          height: 60px;
          background-color: #ea232c;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          margin-bottom: 10px;
        }
        strong {
          font-weight: 600;
          color: black;
        }

        i {
          cursor: pointer;
          position: absolute;
          bottom: 20px;
          right: 15px;
        }

        span {
          margin-left: 10px;
          word-break: break-all;
          line-height: 130%;
        }
      }
    }
  }
}

.username {
  display: none;
}
