.header {
  background-color: $red;

  a:visited {
    color: white;
  }
  .header__wrapper {
    padding: 15px 15px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 60px 1fr 140px;
    align-items: center;
    .header__column {
      i {
        color: white;
        font-size: 30px;
      }
      &:nth-child(2) {
        width: 100%;
        justify-self: center;
      }
      &:last-child {
        justify-self: end;
      }
      ul {
        display: flex;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        li:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
    .header__column:nth-child(2) {
      display: grid;
      grid-template-columns: 85px 1fr;
      justify-content: center;
      input,
      select {
        border: none;
        height: 40px;
      }
      input {
        width: 100%;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }
      select {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        &:focus {
          outline: none;
        }
      }
    }

    .headerAvatar {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: white;
      border: 1px solid white;
    }
  }
}
