.search__header {
  margin-bottom: 20px;
  padding: 20px;
  h3 {
    font-size: 18px;
    font-weight: 600;
  }
}
.search__videos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .videoBlock {
    margin: 30px;
    a,
    a:visited {
      color: black;
    }
    h4 {
      font-weight: 600;
    }
  }
}
