.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    button {
      width: 100px;
      margin-bottom: 25px;
    }
    .video__column {
      display: flex;
      width: 100%;
      border-bottom: 1px solid black;
      padding: 10px;
      justify-content: space-between;
      align-items: flex-end;
    }
    .video__author {
      display: flex;
      align-items: flex-end;
      a,
      a:visited {
        color: black;
      }
      .creatorAvatar {
        height: 80px;
        background-color: #ea232c;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin-right: 15px;
      }
      .video__author-text {
        display: flex;
        flex-direction: column;
      }
      strong {
        font-weight: 600;
        font-size: 20px;
      }
      button {
        margin-top: 15px;
        margin-bottom: 0;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 600;
    }
    .like {
      text-align: end;
      font-size: 20px;
      span {
        margin: 3px;
      }
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      margin-top: 10px;
      font-size: 16px;
    }
  }
  .video__comments {
    margin-top: 25px;
    text-align: center;
    .video__comment-number {
      font-size: 18px;
    }
    .add__comment {
      margin-top: 25px;
      width: 100%;
      input {
        width: 100%;
      }
    }
    .video__comments-list {
      margin-top: 30px;
      li {
        background-color: #3498db;
        color: white;
        padding: 15px;
        border-radius: 20px;
        border-bottom-left-radius: 0px;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }
}
.fa-thumbs-up {
  cursor: pointer;
}
