html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  all: unset;
  cursor: pointer; }

*,
input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

input {
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  input:focus, input:active {
    outline: none; }

.u-avatar {
  height: 80px;
  background-color: #ea232c;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%; }

html,
body {
  height: 100%; }

body {
  background-color: #f5f5f5;
  color: #444444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.homeMain {
  height: 100vh; }

main {
  width: 100%;
  min-height: 70vh; }
  main:not(.homeMain) {
    margin: 0 auto;
    margin-top: 50px; }

button,
input:not([type="file"]):not([type="range"]):not([type="search"]),
textarea,
.fileUpload {
  padding: 7px 10px;
  width: 100%;
  border: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  font-size: 14px;
  color: #444444;
  font-weight: 600;
  background-color: white;
  max-width: 320px;
  resize: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  button::-webkit-input-placeholder, input:not([type="file"]):not([type="range"]):not([type="search"])::-webkit-input-placeholder, textarea::-webkit-input-placeholder, .fileUpload::-webkit-input-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button:-moz-placeholder, input:not([type="file"]):not([type="range"]):not([type="search"]):-moz-placeholder, textarea:-moz-placeholder, .fileUpload:-moz-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::-moz-placeholder, input:not([type="file"]):not([type="range"]):not([type="search"])::-moz-placeholder, textarea::-moz-placeholder, .fileUpload::-moz-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button:-ms-input-placeholder, input:not([type="file"]):not([type="range"]):not([type="search"]):-ms-input-placeholder, textarea:-ms-input-placeholder, .fileUpload:-ms-input-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::-ms-input-placeholder, input:not([type="file"]):not([type="range"]):not([type="search"])::-ms-input-placeholder, textarea::-ms-input-placeholder, .fileUpload::-ms-input-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::placeholder,
  input:not([type="file"]):not([type="range"]):not([type="search"])::placeholder,
  textarea::placeholder,
  .fileUpload::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }

button {
  border: none;
  background-color: #3498db;
  color: white; }

button.delete {
  background-color: #bb2f2a; }

button,
input[type="submit"] {
  cursor: pointer; }

input[type="range"] {
  padding: 0; }

label {
  margin-bottom: 4px; }

.scrollDisable {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  -ms-touch-action: none;
      touch-action: none; }

.header {
  background-color: #ea232c; }
  .header a:visited {
    color: white; }
  .header .header__wrapper {
    padding: 15px 15px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 60px 1fr 140px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .header__wrapper .header__column i {
      color: white;
      font-size: 30px; }
    .header .header__wrapper .header__column:nth-child(2) {
      width: 100%;
      justify-self: center; }
    .header .header__wrapper .header__column:last-child {
      justify-self: end; }
    .header .header__wrapper .header__column ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      color: white;
      font-weight: 600;
      text-transform: uppercase; }
      .header .header__wrapper .header__column ul li:not(:last-child) {
        margin-right: 15px; }
    .header .header__wrapper .header__column:nth-child(2) {
      display: grid;
      grid-template-columns: 85px 1fr;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .header .header__wrapper .header__column:nth-child(2) input,
      .header .header__wrapper .header__column:nth-child(2) select {
        border: none;
        height: 40px; }
      .header .header__wrapper .header__column:nth-child(2) input {
        width: 100%;
        -webkit-border-bottom-right-radius: 10px;
           -moz-border-radius-bottomright: 10px;
                border-bottom-right-radius: 10px;
        -webkit-border-top-right-radius: 10px;
           -moz-border-radius-topright: 10px;
                border-top-right-radius: 10px; }
      .header .header__wrapper .header__column:nth-child(2) select {
        -webkit-border-top-left-radius: 10px;
           -moz-border-radius-topleft: 10px;
                border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
           -moz-border-radius-bottomleft: 10px;
                border-bottom-left-radius: 10px; }
        .header .header__wrapper .header__column:nth-child(2) select:focus {
          outline: none; }
    .header .header__wrapper .headerAvatar {
      height: 30px;
      width: 30px;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;
      background-color: white;
      border: 1px solid white; }

.form-container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-container form:not(.searchForm) {
    width: 100%;
    max-width: 320px; }
    .form-container form:not(.searchForm) input:not([type="file"]),
    .form-container form:not(.searchForm) .fileUpload {
      display: block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
         -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      .form-container form:not(.searchForm) input:not([type="file"]):not(:last-child),
      .form-container form:not(.searchForm) .fileUpload:not(:last-child) {
        margin-bottom: 25px; }
    .form-container form:not(.searchForm) textarea {
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
         -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin-bottom: 25px; }
    .form-container form:not(.searchForm) input[type="submit"] {
      background-color: #3498db;
      color: white; }
  .form-container a {
    max-width: 320px;
    width: 100%; }
  .form-container button {
    margin-top: 15px;
    background-color: tomato;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .form-container .tagsINfo {
    font-size: 12px;
    line-height: 200%; }

.social-login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  .social-login a:visited {
    color: white; }
  .social-login button {
    width: 100%;
    max-width: 320px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5px; }
    .social-login button:last-child {
      margin-bottom: 15px; }
    .social-login button span {
      margin-right: 10px;
      font-size: 20px; }
  .social-login .social-login--github {
    background-color: #444444;
    color: white; }
  .social-login .social-login--kakao {
    background-color: #fee100;
    color: white; }

.videoBlock video {
  margin-bottom: 10px;
  max-width: 100%; }

.videoBlock .videoBlock__title {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px; }

.videoBlock .videoBlock__views {
  margin-bottom: 10px; }

.videoPlayer {
  position: relative; }
  .videoPlayer video {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0; }
  .videoPlayer .videoPlayer__icon {
    position: absolute;
    right: 48%;
    top: 48%;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.6); }
  .videoPlayer .videoPlayer__volume {
    -webkit-appearance: slider-vertical;
    position: relative;
    height: 90px; }
  .videoPlayer .videoPlayer__controls {
    -webkit-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    -moz-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 9;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 30px 1fr 190px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6); }
    .videoPlayer .videoPlayer__controls .videoPlayer__column:first-child {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      width: 30px; }
      .videoPlayer .videoPlayer__controls .videoPlayer__column:first-child span:first-child {
        margin-right: 10px; }
    .videoPlayer .videoPlayer__controls .videoPlayer__column:last-child {
      justify-self: end;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .videoPlayer .videoPlayer__controls .videoPlayer__column:last-child span {
        margin-left: 15px; }
    .videoPlayer .videoPlayer__controls .videoPlayer__column:nth-child(2) {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

.volume {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.video__bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.playBar {
  width: 100%;
  position: absolute; }

.volume:hover .volumeBar {
  opacity: 1; }

.volumeBar {
  opacity: 0;
  -webkit-writing-mode: bt-lr;
      -ms-writing-mode: bt-lr;
          writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  position: absolute;
  right: 2px;
  bottom: 30px;
  display: block;
  width: 80px;
  background: none; }

.record-container {
  width: 100%;
  max-width: 320px;
  margin-bottom: 20px; }
  .record-container video {
    background-color: black;
    width: 100%;
    margin-bottom: 5px; }
  .record-container button {
    margin-top: 10px; }

.modal {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }
  .modal a:visited {
    color: black; }
  .modal .modal__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%; }
  .modal .modal__content {
    position: relative;
    background-color: white;
    padding: 30px 70px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .modal .modal__content:not(.socialModalContent) {
      width: 80%; }
    .modal .modal__content .socialModalContent {
      width: 50%; }
  .modal .modal__header:not(.socialModalHeader) {
    text-align: right;
    font-size: 18px;
    cursor: pointer; }
  .modal .socialModalHeader {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px; }
  .modal .modal__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .modal .modal__column {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px; }
    .modal .modal__column i,
    .modal .modal__column strong {
      margin-bottom: 8px; }
    .modal .modal__column i {
      font-size: 30px; }
    .modal .modal__column strong {
      font-weight: 600;
      font-size: 16px; }
    .modal .modal__column p {
      line-height: 150%; }

.hidden {
  display: none; }

.fa-thumbs-up {
  cursor: pointer; }

.video__comments {
  margin-top: 25px;
  text-align: center; }
  .video__comments .video__comment-number {
    font-size: 18px; }
  .video__comments .add__comment {
    margin-top: 25px;
    width: 100%; }
    .video__comments .add__comment input {
      width: 100%; }
  .video__comments .wrap {
    text-align: center; }
    .video__comments .wrap .video__comments-list {
      margin-top: 20px;
      display: inline-block; }
      .video__comments .wrap .video__comments-list li {
        position: relative;
        background-color: white;
        max-width: 500px;
        min-width: 300px;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 30px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
           -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
        margin-bottom: 20px;
        -webkit-border-radius: 10px;
           -moz-border-radius: 10px;
                border-radius: 10px; }
        .video__comments .wrap .video__comments-list li .commentId {
          display: none; }
        .video__comments .wrap .video__comments-list li img {
          height: 60px;
          background-color: #ea232c;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          margin-bottom: 10px; }
        .video__comments .wrap .video__comments-list li strong {
          font-weight: 600;
          color: black; }
        .video__comments .wrap .video__comments-list li i {
          cursor: pointer;
          position: absolute;
          bottom: 20px;
          right: 15px; }
        .video__comments .wrap .video__comments-list li span {
          margin-left: 10px;
          word-break: break-all;
          line-height: 130%; }

.username {
  display: none; }

.home-wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr; }
  .home-wrapper .menu {
    text-align: left;
    width: 240px;
    min-width: 240px;
    height: 100%;
    background-color: #ea232c;
    color: white;
    overflow: auto; }
    .home-wrapper .menu .selected {
      background-color: #bb2f2a; }
    .home-wrapper .menu div {
      padding: 20px;
      border-bottom: black 1px solid; }
      .home-wrapper .menu div:not(:nth-child(5)):hover {
        background-color: #bb2f2a; }
    .home-wrapper .menu i {
      margin-right: 10px; }
    .home-wrapper .menu a,
    .home-wrapper .menu a:visited {
      color: white; }
    .home-wrapper .menu .mySubscribe .mySubscribe__column {
      border-bottom: 1px solid #444444;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .home-wrapper .menu .mySubscribe .mySubscribe__column .mySubscribe__avatar {
        height: 30px;
        width: 30px;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        background-color: white;
        border: 1px solid white;
        margin-right: 10px; }
  .home-wrapper .home-contents {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
    width: 100%; }
    .home-wrapper .home-contents h4 {
      font-weight: 600; }
    .home-wrapper .home-contents a,
    .home-wrapper .home-contents a:visited {
      color: black; }
    .home-wrapper .home-contents .home-videos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

.search__header {
  margin-bottom: 20px;
  padding: 20px; }
  .search__header h3 {
    font-size: 18px;
    font-weight: 600; }

.search__videos {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .search__videos h5 {
    margin-left: 30px; }
  .search__videos .videoBlock {
    margin: 30px; }
    .search__videos .videoBlock a,
    .search__videos .videoBlock a:visited {
      color: black; }
    .search__videos .videoBlock h4 {
      font-weight: 600; }

.video-detail__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .video-detail__container .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px; }
    .video-detail__container .video__info button {
      width: 100px;
      margin-bottom: 25px; }
    .video-detail__container .video__info .video__column {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      border-bottom: 1px solid black;
      padding: 10px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
         -moz-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .video-detail__container .video__info .video__author {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
         -moz-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .video-detail__container .video__info .video__author a,
      .video-detail__container .video__info .video__author a:visited {
        color: black; }
      .video-detail__container .video__info .video__author .creatorAvatar {
        height: 80px;
        background-color: #ea232c;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin-right: 15px; }
      .video-detail__container .video__info .video__author .video__author-text {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
      .video-detail__container .video__info .video__author strong {
        font-weight: 600;
        font-size: 20px; }
      .video-detail__container .video__info .video__author button {
        margin-top: 15px;
        margin-bottom: 0; }
    .video-detail__container .video__info .tags {
      margin-top: 15px; }
      .video-detail__container .video__info .tags button {
        border: 0.5px solid white;
        padding: 10px;
        font-size: 12px;
        font-weight: 600;
        -webkit-border-radius: 8px;
           -moz-border-radius: 8px;
                border-radius: 8px;
        height: 40px;
        width: auto;
        margin: 0px 5px;
        margin-bottom: 20px;
        background-color: black; }
    .video-detail__container .video__info .video__title,
    .video-detail__container .video__info .video__views,
    .video-detail__container .video__info .video__description {
      display: block;
      margin-bottom: 15px; }
    .video-detail__container .video__info .video__title {
      font-size: 22px;
      font-weight: 600; }
    .video-detail__container .video__info .like {
      text-align: end;
      font-size: 20px; }
      .video-detail__container .video__info .like span {
        margin: 3px; }
    .video-detail__container .video__info .video__views {
      font-size: 14px; }
    .video-detail__container .video__info .video__description {
      margin-top: 10px;
      font-size: 16px; }

.user-profile {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid black; }
  .user-profile .user-profile__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 18px; }
    .user-profile .user-profile__header .profile__username {
      font-size: 18px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-weight: 800; }
    .user-profile .user-profile__header .socialProfile {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 8px; }
      .user-profile .user-profile__header .socialProfile h4 {
        font-weight: 600; }
      .user-profile .user-profile__header .socialProfile .socialIcon {
        width: 30px;
        height: 30px;
        font-size: 30px;
        margin-right: 10px; }
  .user-profile .user-profile__btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .user-profile .user-profile__btns a {
      margin-bottom: 20px; }

.uploaded-videos {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .uploaded-videos .videoBlock {
    margin: 20px; }
    .uploaded-videos .videoBlock a,
    .uploaded-videos .videoBlock a:visited {
      color: black; }
    .uploaded-videos .videoBlock h4 {
      font-weight: 600; }

.record-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .record-body .record-container {
    margin: 20px; }
    .record-body .record-container video {
      width: 320px;
      height: 240px;
      margin-bottom: 10px; }
    .record-body .record-container button {
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
         -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .record-body .record-video__info {
    margin: 20px;
    width: 320px; }
  .record-body .fileUpload {
    margin-bottom: 17px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .record-body input:not([type="file"]),
  .record-body textarea {
    margin-bottom: 17px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.fileUpload label {
  font-weight: 300;
  margin-right: 10px;
  display: block; }

.fileUpload .thumbnail__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.fileUpload .thumbnail {
  background-color: black;
  width: 100px;
  height: 55px; }
  .fileUpload .thumbnail image {
    width: 100px;
    height: 55px; }

.fileUpload .thumbnail__input {
  width: 180px; }

.fileUpload .thumbnail__info {
  margin-top: 10px; }
  .fileUpload .thumbnail__info span {
    line-height: 150%; }

.fileUpload input[type="submit"] {
  background-color: #3498db;
  color: white;
  border: none; }

